/* Imagen de fondo y estilos Generales */
body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background: url('/img/fondo1.jpg') no-repeat top center/cover;
    background-attachment: scroll; /* Fondo se mueve con scroll */
}

/* Hero Section */
.hero-section {
    height: 60vh;
    background: rgba(0, 0, 0, 0.5);
    /* Fondo oscuro semi-transparente */
    font-family: 'Raleway', sans-serif; /* Cambia el tipo de fuente */
    font-size: 1.5em; /* Aumenta el tamaño de la letra */
    color: #fff; /* Asegura que el texto sea legible */
}



.h1, p {
    width: 60%; /* Ocupa la mitad del ancho del hero */
    text-align: left; /* Alinea el texto a la izquierda */
    padding: 20px; /* Añade espacio interno */
    transition: color 0.3s ease;
}


/* Tecnologías */
.container {
    text-align: left;
    padding: 20px;
    aspect-ratio: 1 / 1; /* Ajusta el ratio a cuadrado */
}
.buttons button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}
.projects {
    margin-top: 20px;
}
.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    display: inline-block;
}
.project img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Footer */
footer {
    background-color: #1A1A1A;
    color: #F5DEB3;
    padding: 20px 0;
    text-align: center;
}

.developer-info {
    font-size: 0.9rem;
    /* Fuente más pequeña */
    color: #888;
    /* Color gris para los datos del desarrollador */
    margin-top: 10px;
}

.developer-info a {
    color: #25D366;
    /* Color verde para los enlaces */
    text-decoration: none;
}

.developer-info a:hover {
    text-decoration: underline;
}

/* Iconos de redes sociales */
.social-icons a {
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #25D366;
}

/* Footer */
footer {
    background-color: #1A1A1A;
    color: #F5DEB3;
    padding: 20px 0;
    text-align: center;
}


